.env
.env.*
!.env.example

node_modules/
quick-drop-extension/node_modules/
quick-drop-viewer/node_modules/

.output/
quick-drop-extension/.output/
quick-drop-extension/.wxt/
quick-drop-extension/chrome-extension-dev
quick-drop-viewer/dist/
quick-drop-viewer/.vite/
supabase/.temp/

.codex
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
